.toggle-switch {
  position: relative;
  width: 56px;
  height: 28px;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  margin-top: 5px;
  overflow: hidden;
}

.toggle-switch:hover {
  border-color: #000;
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__button {
  position: absolute;
  top: 0;
  left: 0;
  transition: left 0.4s;
  width: 28px;
  height: 28px;
  background-color: #000;
  border-radius: 20px;
  cursor: pointer;
}

.toggle-switch__button:hover {
  width: 30px;
}

.toggle-switch__text {
  position: absolute;
  color: #7e7e7e;
  font-size: 14px;
  font-weight: 700;
  top: 7px;
}

.toggle-switch__text_F {
  height: 28px;
  width: 28px;
  left: 9px;
}

.toggle-switch__text_C {
  height: 28px;
  width: 28px;
  left: 37px;
}

.toggle-switch__checkbox:checked + .toggle-switch__button {
  left: 28.5px;
}

.toggle-switch__text_color_white {
  color: #fff;
}
