.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 21px;
}

.cards__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0%;
  margin-top: 40px;
  margin-bottom: 34px;
}
