.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 0 28px;
}

.header__left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.header__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.header__logo {
  width: 89px;
  height: 40px;
}

.header__date-and-location {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  margin: 0;
}

.header__user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.header__button {
  background-color: #f3f3f3;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
}

.header__user-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0%;
  margin: 0;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border: 1px;
  border-color: #000 50%;
  border-radius: 50%;
}
