.clothes-section__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-bottom: 16px;
  margin-top: 37px;
}

.clothes-section__title-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  margin: 0;
  padding: 0;
}

.clothes-section__button {
  border: none;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0%;
  color: #000;
  opacity: 0.6;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.clothes-section__cards-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1015px;
  gap: 20px;
  padding: 0;
  margin: 0;
  margin-right: 40px;
}
